#div1 .text{
    border: 1px solid black;
    margin-left: 20px;
}
.endhiisda{
    display: flex;
}
.endhiisda .card-body{
    border: 1px solid black;
    margin: 20px;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 20px;
}
.buttonuud{
    display: flex;
    justify-content: space-between;
}
.buttonuud input{
    margin: 20px;
    padding: 20px;
    background-color: cornflowerblue;
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    
}
.buttonuud input:hover{
    background-color: rgba(100, 148, 237, 0.644) ;
    
}